@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

body {
  font-family: 'Barlow Condensed', sans-serif;
  height: 100%;
}

$black-color: #0B0D17;
$primary-color: #D0D6F9;
$white-color: #FFFFFF;

.container {
  max-width: 1430px;
  margin: 0 auto;
}

.main-wrapper {
  padding: 0 30px;

  @media (max-width: 375px) {
    padding: 0 20px;
  }
}

.content-wrapper {
  padding: 0 150px 0 150px;

  @media (max-width: 1160px) {
    padding: 0 40px 0 40px;
  }

  @media (max-width: 864px) {
    padding: 0;
  }
}

.heading-1 {
  font-family: 'Bellefair', serif;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
  color: $white-color;

  @media (max-width: 450px) {
    line-height: 150px;
  }

  @media (max-width: 375px) {
    line-height: 110px;
  }
}

.heading-2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  color: $white-color;
}

.heading-3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: $white-color;
}

.heading-4 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: $white-color;
}

.heading-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: $primary-color;

  @media (max-width: 375px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.destination-title {
  color: $white-color;
  margin-bottom: 100px;
  @media (max-width: 940px) {
    margin-bottom: 60px;
  }
}

.destination-heading-span {
  opacity: 0.25;
  margin-right: 20px;
}

.destination-planet-container {
  @media (max-width: 940px) {
    width: 100%;
  }
}

.planet-img {
  @media (max-width: 940px) {
    display: block;
    margin: 0 auto 50px auto;
  }
  @media (max-width: 540px) {
    width: 400px;
    height: 400px;
  }
  @media (max-width: 440px) {
    width: 280px;
    height: 280px;
  }
}

.subheading-1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  line-height: 32px;
  color: $white-color;
  text-transform: uppercase;
  @media (max-width: 500px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.subheading-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 12px;
}

.active {
  font-weight: bold;
}

.nav-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: $primary-color;
}

.body-text {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: $primary-color;

  @media (max-width: 375px) {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
  }
}

.nav-container {
  margin-top: 40px;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81px);
  border-radius: 17px;

  @media (max-width: 450px) {
    height: 75px;
  }
}

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 20px;
  height: 100%;
}

.nav-logo-menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.nav-content {
  display: flex;
  column-gap: 50px;
  padding: 0 30px;

  @media (max-width: 700px) {
    column-gap: 20px;
    padding: 0 10px;
    span {
      display: none !important;
    }
  }

  @media (max-width: 450px) {
    display: none;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;
  @media (max-width: 450px) {
    display: block;
  }
}

.planet-nav-content {
  display: flex;
  gap: 50px;
  padding: 0 30px;

  @media (max-width: 940px) {
    margin: 0 auto;
    max-width: 210px;
    padding: 0 10px;
    gap: 25px;
  }

}

.menu-icon {
  display: none;
  cursor: pointer;
  @media (max-width: 450px) {
    display: block;
  }
}

.close-icon {
  display: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked ~ .nav-container {
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 10;
  margin: 0;
  align-items: flex-start;

  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
    height: auto;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
  }

  .nav-logo-menu {
    height: auto;
    margin-bottom: 50px;
  }

  .nav-item {
    font-size: 30px;
    margin-bottom: 30px;
    span {
      display: inline-block !important;
    }
  }

  .close-icon {
    display: block;
  }

  .menu-icon {
    display: none;
  }
}

.nav-item span {
  font-weight: bold;
}

.nav-item {
  position: relative;
  list-style: none;
  text-transform: uppercase;
  color: $white-color;
  font-weight: 400;

  a {
    color: $white-color;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
  }

  a:hover ~ div {
    display: block;
  }

  span {
    margin-right: 5px;
    font-weight: 700;
    display: inline-block;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $primary-color;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: $primary-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo-bg {
  display: flex;
  padding: 4px;
  background-color: white;
  border-radius: 50%;

  @media (max-width: 450px) {
    transform: scale(0.8);
  }
}

.bg-image {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.bg-home {
  background: #0B0D17 url("../img/space-bg-image.jpg") no-repeat;
  background-size: cover;


  @media (max-width: 768px) {
    background: #0B0D17 url("../img/space-bg-image-sm.jpg") no-repeat bottom;
  }
}

.bg-destination {
  background: #0B0D17 url("../img/destination-bg.jpg") no-repeat;
  background-size: cover;

}

.hero-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 380px;

  @media (max-width: 768px) {
    max-width: 450px;
    text-align: center;
    margin-bottom: 40px;
  }

  @media (max-width: 500px) {
    row-gap: 10px;
  }
}

.planet-content {
  max-width: 500px;
  @media (max-width: 940px) {
    text-align: center;
  }

}

.planet-menu {
  @media (max-width: 940px) {
    margin-bottom: 20px;
  }
}

.hero-wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 250px auto 0 auto;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 100px auto 0 auto;
  }
}

.destination-wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  margin: 80px auto 0 auto;
  gap: 20px;

  @media (max-width: 940px) {
    flex-direction: column;
    margin: 40px auto 0 auto;
    align-items: center;
  }
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $white-color;
  text-transform: uppercase;
  border-radius: 50%;
  width: 274px;
  height: 274px;

  @media (max-width: 375px) {
    width: 200px;
    height: 200px;
  }
}

.explore-text {
  color: $black-color;
  position: absolute;
  text-decoration: none;
}

.explore:hover > .explore-hover {
  display: block;
}

.explore-hover {
  display: none;
  position: absolute;
  background: $white-color;
  opacity: 0.1;
  border-radius: 50%;
  width: 450px;
  height: 450px;

  @media (max-width: 375px) {
    width: 350px;
    height: 350px;
  }
}

.space {
  margin-left: -10px;
  text-transform: uppercase;

  @media (max-width: 500px) {
    font-size: 130px;
  }

  @media (max-width: 450px) {
    font-size: 110px;
  }

  @media (max-width: 375px) {
    font-size: 80px;
  }
}

.separator {
  margin: 40px 0 40px 0;
  width: 100%;
  height: 1px;
  background: #383B4B;
}

.planet {
  text-transform: uppercase;

  @media (max-width: 1250px) {
    font-size: 130px;
    line-height: 140px;
  }
  @media (max-width: 1000px) {
    font-size: 110px;
    line-height: 120px;
  }
  @media (max-width: 600px) {
    font-size: 74px;
    line-height: 100px;
  }
}

.planet-details-container {
  display: flex;
  gap: 80px;
  @media (max-width: 940px) {
    gap: 0;
    justify-content: space-around;
  }
}

.scale-up-center {
  animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-down-center {
  animation: scale-down-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.kenburns-bottom-right {
  animation: kenburns-bottom-right 10s ease-out both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.1) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
